{% comment %}
Cuadro de publicidad en la parte superior de la página de inicio del sitio web de un taller.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{{site.title}}</h1>
      <h2><a href="http://uniandes.edu.co">{{page.venue}}</a></h2>
      <div class="row">
        <div class="col-md-5">
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
        </div>
        <div class="col-md-7">
          <p>
          <strong>Instructores:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Organizador Local:</strong>
          <a href="https://caev03.github.io">{{page.helper | join: ', ' %}}</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
